.half {
	width: 50em;
}

.widefat .s-inactive {
	background-color:  #f4f4f4;
}

.centered {
	left: auto;
	right:  auto;
	text-align: center;
}

.history-slider {
	cursor: pointer;
	padding: 2px 0;
	width: 50em;
	display: inline-block;
	border-color: #DFDFDF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.slider > .ajax-loader {
	min-width: 50em;
	min-height: 64px;
	background-image: url('./resources/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px;
	padding: 0px;
	background-size: 32px 32px;
	display: inline-block;
	vertical-align: middle;
}

.ajax-loader {
	background-image: url('./resources/ajax-loader.gif');
	background-repeat: no-repeat;
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}

.ajax-success {
	background-image: url('./resources/ajax-success.jpg');
	background-repeat: no-repeat;
	background-size: 14px 14px;
	height: 14px;
	width: 14px;
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}

.ajax-fail {
	background-image: url('./resources/ajax-fail.png');
	background-repeat: no-repeat;
	background-size: 14px 14px;
	height: 14px;
	width: 14px;
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}

.notification-warning {
	background-image: url('./resources/notification_warning.png');
	background-repeat: no-repeat;
	background-size: 14px 14px;
	height: 14px;
	width: 14px;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
	padding-bottom: 1px;
	vertical-align: middle;
}

.wp-core-ui .button-red {
	background-color: #9B2124!important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C5292E), to(#9B2124));
	background-image: -webkit-linear-gradient(top, #C5292E, #9B2124);
	background-image:    -moz-linear-gradient(top, #C5292E, #9B2124);
	background-image:     -ms-linear-gradient(top, #C5292E, #9B2124);
	background-image:      -o-linear-gradient(top, #C5292E, #9B2124);
	background-image:   linear-gradient(to bottom, #C5292E, #9B2124);
	border-color: #9B2124;
	border-bottom-color: #8D1F21;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
 	box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
 	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.wp-core-ui .button-red.hover,
.wp-core-ui .button-red:hover,
.wp-core-ui .button-red.focus,
.wp-core-ui .button-red:focus {
	background-color: #B72629;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#D22E30), to(#9B2124));
	background-image: -webkit-linear-gradient(top, #D22E30, #9B2124);
	background-image:    -moz-linear-gradient(top, #D22E30, #9B2124);
	background-image:     -ms-linear-gradient(top, #D22E30, #9B2124);
	background-image:      -o-linear-gradient(top, #D22E30, #9B2124);
	background-image:   linear-gradient(to bottom, #D22E30, #9B2124);
	border-color: #7F1C1F;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
 	box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}

.wp-core-ui .button-red.focus,
.wp-core-ui .button-red:focus {
	border-color: #500F0E;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4);
	box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4);
}

.wp-core-ui .button-red.active,
.wp-core-ui .button-red.active:hover,
.wp-core-ui .button-red.active:focus,
.wp-core-ui .button-red:active {
	background: #7F1C1F;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9B2124), to(#B72629));
	background-image: -webkit-linear-gradient(top, #9B2124, #B72629);
	background-image:    -moz-linear-gradient(top, #9B2124, #B72629);
	background-image:     -ms-linear-gradient(top, #9B2124, #B72629);
	background-image:      -o-linear-gradient(top, #9B2124, #B72629);
	background-image:   linear-gradient(to bottom, #9B2124, #B72629);
	border-color: #601312 #AE2426 #AE2426 #AE2426;
	color: rgba(255,255,255,0.95);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
 	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.wp-core-ui .button-red[disabled],
.wp-core-ui .button-red:disabled,
.wp-core-ui .button-red-disabled {
	color: #E79496 !important;
	background: #BA292B !important;
	border-color: #7F1C1F !important;
	-webkit-box-shadow: none !important;
	box-shadow:         none !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1) !important;
	cursor: default;
}
